<!DOCTYPE html>
<html>
<head>
  <title>SlackerNews</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 
<!--  Navigation Bar -->

<div class="nav">
  <ul>
    <li>
     <%=image_tag"y_logo.gif"%>
    </li>
    <li><a href="#"><strong>Hacker News</strong></a></li>
    <li><a href="#">new</a></li>
    <li><a href ="#">comments</a></li>
    <li><a href="#">ask</a></li>
    <li><a href="#">jobs</a></li>
    <li><a href="#">submit</a></li>
    <li><a href="#">login</a></li>
  </ul>
</div>

<div class="main">
  <ol>
    <li>
      <h1>Firebase Leaves Beta Today<a href="https://www.firebase.com/blog/2013-08-15-firebase-leaves-beta-today.html">(firebase.com)</a></h1>
      <h2>63 points by <a href="#">lyime</a> 56 minutes ago | <a href="#">17 comments</a></h2>
    </li>
 
    <li>
      <h1>Destructuring Assignment in ECMAScript 6<a href="http://fitzgeraldnick.com/weblog/50/">(fitzgeraldnick.com)</a></h1>
      <h2>40 points by <a href="#">mnemonik</a> 49 minutes ago | <a href="#">5 comments</a></h2>
    </li>
 
    <li>
      <h1>Introducing Stripe UK <a href="https://stripe.com/blog/introducing-stripe-uk">(stripe.com)</a></h1>
      <h2>230 points by <a href="#">woodrow</a> 4 hours ago | <a href="#">118 comments</a></h2>
    </li>
 
    <li>
      <h1>Datomic in the browser<a href="http://ragnard.github.io/2013/08/12/datomic-in-the-browser.html">(ragnard.github.io)</a></h1>
      <h2>47 points by <a href="#">brucehauman</a> 2 hours ago | <a href="#">1 comment</a></h2>
    </li>
 
    <li>
      <h1>Facebook App Outage Postmortem<a href="https://developers.facebook.com/blog/post/2013/08/15/summary-of-the-august-13th-app-outage/">(facebook.com)</a></h1>
      <h2>15 points by <a href="#">lacker</a> 32 minutes ago | <a href="#">2 comments</a></h2>
    </li>
 
    <li>
      <h1>Ink (YC S12) Releases New iOS Layer That Allows Apps to Interact, Share Data<a href="http://techcrunch.com/2013/08/15/inks-new-mobile-framework-lets-ios-apps-talk-to-each-other-share-data-you-know-like-on-android/">(techcrunch.com)</a></h1>
      <h2>19 points by <a href="#">betojuareziii</a> 1 hour ago | <a href="#">13 comments</a></h2>
    </li>
 
    <li>
      <h1>It's the real thing<a href="http://www.lettersofnote.com/2013/07/its-real-thing.html?m=1">(lettersofnote.com)</a></h1>
      <h2>75 points by <a href="#">ezl</a> 3 hours ago | <a href="#">44 comments</a></h2>
    </li>
 
    <li>
      <h1>The anatomy of the perfect technical interview from a former Amazon VP<a href="http://firstround.com/article/The-anatomy-of-the-perfect-technical-interview-from-a-former-Amazon-VP">(firstround.com)</a></h1>
      <h2>55 points by <a href="#">jnazario</a> 3 hours ago | <a href="#">26 comments</a></h2>
    </li>
 
    <li>
      <h1>The Washington Post Web site was hacked today<a href="http://www.washingtonpost.com/blogs/ask-the-post/wp/2013/08/15/editors-note/">(washingtonpost.com)</a></h1>
      <h2>34 points by <a href="#">selamattidur</a> 2 hours ago | <a href="#">26 comments</a></h2>
    </li>
 
    <li>
      <h1>Why does this Java program terminate despite appearing that it shouldn't?<a href="http://stackoverflow.com/questions/16159203/why-does-this-java-program-terminate-despite-that-appears-that-it-shouldt-and">(stackoverflow.com)</a></h1>
      <h2>88 points by <a href="#">patmcguire</a> 3 hours ago | <a href="#">83 comments</a></h2>
    </li>
  </ol>
</div>

<div class="footer">
  <ul>
    <li><a href="#">Lists</a></li>
     <li><a href="#">RSS</a></li>
     <li><a href="#">Bookmarklet</a></li>
     <li><a href="#">Guidelines</a></li>
     <li><a href="#">FAQ</a></li>
     <li><a href="#">DMCA</a></li>
     <li><a href="#">News News</a></li>
     <li><a href="#">Feature Requests</a></li>
     <li><a href="#">Bugs</a></li>
     <li><a href="#">Y Combinator</a></li>
     <li><a href="#">Apply</a></li>
     <li><a href="#">Library</a></li>

  </ul> 
</div>

<%= yield %>

</body>
</html>
