<!DOCTYPE html>
<html>
<head>
  <title>SlackerNews</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 
<!--  Navigation Bar -->

<div class="nav">
  <ul>
    <li>
     <%=image_tag"y_logo.gif"%>
    </li>
    <li><a href="#"><strong>Hacker News</strong></a></li>
    <li><a href="#">new</a></li>
    <li><a href ="#">comments</a></li>
    <li><a href="#">ask</a></li>
    <li><a href="#">jobs</a></li>
    <li><a href="#">submit</a></li>
    <li><a href="#">login</a></li>
  </ul>
</div>

<div class="footer">
  <ul>
    <li><a href="#">Lists</a></li>
     <li><a href="#">RSS</a></li>
     <li><a href="#">Bookmarklet</a></li>
     <li><a href="#">Guidelines</a></li>
     <li><a href="#">FAQ</a></li>
     <li><a href="#">DMCA</a></li>
     <li><a href="#">News News</a></li>
     <li><a href="#">Feature Requests</a></li>
     <li><a href="#">Bugs</a></li>
     <li><a href="#">Y Combinator</a></li>
     <li><a href="#">Apply</a></li>
     <li><a href="#">Library</a></li>

  </ul> 
</div>

<%= yield %>

</body>
</html>
